.dockerignore
.git
.vs
*/*/dist
*/*/dist-server
**/bin
**/obj
**/ChromeStandaloneSetup64*.exe

# The "./demo-app/ClientApp/node_modules/@angular/cli/" directory will not be copied.
# It will not be copied because it is listed in the ".dockerignore" file in the same directory that contains the solution
# (.sln) file.  This directory is not copied because the only way to get the Angular CLI to work correctly in the 
# container is to not copy the directory and then install the Angular CLI as part of the image build process
/demo-app/ClientApp/node_modules/@angular/cli